@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* @media only screen and (max-width:) {  */
body {
    font-family: 'Roboto';
}

.header{
    width: 1160px;
    height: 50px;
    margin-left: -7px;
    margin-top: -7px;
    background: #F5F5F6;
}

.header img{
    margin-left: 100px;
    margin-top: 15px;
}

.line ul {
    list-style-type: none;
    display: flex;
    margin: -28px 0px 0px 223px;
    font-size: 12px;
    color: gray;
    font-weight: 500;
 }

li{ 
    padding: 8px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
  
li:hover{
    color: black;
    transition: 0,2s;
}

.login{
    width: 58px;
    height: 33px;
    margin: -33px 102px 0px 992px ;
    border-radius: 4px;
    background-color: white;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.currency-converter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 120px;
}

body h1{
    margin: 56px 0px -5px 250px;
    width: 587px;
}
.currency-form{
    width: 258px;
    padding: 0px 10px;
    background: white;
}

.currency-converter .currency-form input{
    width: 167px;
    outline: none;
    font-weight: 400;
    font-size: 36px;
}
.txt{
    color:black;
    font-size: 12px;
    color: #9F9F9F;
}

.btn-group {
    height: 30px;
}

.input {
    box-shadow: 0px 5px 10px gray;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 30px;
}

input {
    border: none; 
}

.btn-group button {
    background-color: white; 
    border: 1px solid #E5E5E5; 
    color: #E5E5E5; 
    width: 64px;
    height: 28px;
    cursor: pointer; 
    float: left; 
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover, button:focus{
   background-color:#833AE0;
}