@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@media screen and (min-width: 1024px) {
body {
    font-family: 'Roboto';
}
.box{
    display: none;
}
.header{
    width: 1160;
    height: 50px;
    margin: -8px;
    background: #F5F5F6;
}
.header img{
    margin-left: 100px;
    margin-top: 15px;
}
.line ul {
    list-style-type: none;
    display: flex;
    margin: -28px 0px 0px 215px;
    font-size: 12px;
    color: gray;
    font-weight: 500;
}
li{ 
    padding: 8px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
li:hover{
    color: black;
    transition: 0,2s;
}
.bank{
    color:black;
}
.login2{
    display: none;
}
.login{
    width: 58px;
    height: 33px;
    margin: -33px 102px 0px 1020px ;
    border-radius: 4px;
    background-color: white;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}
.currency-converter{
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
    display: flex;
    gap: 120px;
}
body h1{
    margin: 80px 0px -5px 210px;
    width: 587px;
}
.currency-form{
    width: 300px;
    padding: 0px 10px;
    background: white;
    height: 140px;
}
.currency-converter .currency-form input{
    width: 167px;
    outline: none;
    font-weight: 400;
    font-size: 36px;
}
.txt{
    color:black;
    font-size: 13px;
    color: #9F9F9F;
    margin-top: 5px;
}
.btn-group {
    height: 30px;
    width: 300px;
}
.input {
    box-shadow: 0px 5px 10px gray;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 30px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
input {
    border: none; 
}
.btn-group button {
    background-color: white; 
    border: 1px solid #E5E5E5; 
    color: #E5E5E5; 
    width: 75px;
    height: 35px;
    cursor: pointer; 
    float: left; 
    font-size: 14px;
}
.btn-group button:not(:last-child) {
    border-right: none;
}
.btn-group button:hover, button:focus{
   background-color:#833AE0;
}
}

@media screen and (min-width: 557px) and (max-width: 1023px) { 
body {
    font-family: 'Roboto';
}
.header{
    width: 1150;
    height: 70px;
    margin: -8px;
    background: #F5F5F6;
}
.box{
    display: none;
}
.header img{
    margin-left: 80px;
    margin-top: 15px;
    width: 100;
    height: 40;
}
.line ul {
    list-style-type: none;
    display: flex;
    margin: -35px 0px 0px 192px;
    font-size: 15px;
    color: gray;
    font-weight: 500;
}
li{ 
    padding: 6px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
li:hover{
    color: black;
    transition: 0,2s;
}
.bank{
    color:black;
}
.login2{
    display: none;
}
.login{
    width: 78px;
    height: 40px;
    margin: -35px 102px 0px 1020px ;
    border-radius: 4px;
    background-color: white;
    font-weight: 500;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}
.currency-converter{
    position: absolute;
    margin-top: 50px;
    margin-left: 130px;
    display: flex;
    gap: 90px;
}
body h1{
    margin: 100px 0px -5px 140px;
    width: 587px;
    font-size: 45px;
}
.currency-form{
    width: 380px;
    padding: 0px 10px;
    background: white;
    height: 170px;
}
.currency-converter .currency-form input{
    width: 180px;
    outline: none;
    font-weight: 400;
    font-size: 36px;
}
.txt{
    color:black;
    font-size: 18px;
    color: #9F9F9F;
    margin-top: 15px;
}
.btn-group {
    height: 30px;
}
.input {
    box-shadow: 0px 5px 10px gray;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 30px;
    height: 120px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
input {
    border: none; 
}
.btn-group button {
    background-color: white; 
    border: 1px solid #E5E5E5; 
    color: #E5E5E5; 
    width: 95px;
    height: 42px;
    cursor: pointer; 
    float: left; 
    font-size: 19px;
}
.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover, button:focus{
   background-color:#833AE0;
}
}

@media screen and (max-width: 556px) {
body {
    font-family: 'Roboto';
}
.line{
    display: none;
}
.header{
    width: 1023px;
    height: 100px;
    margin: -8px;
    background: #F5F5F6;
}
.header img{
    margin-left: 150px;
    margin-top: 20px;
    width: 150px;
    height: 70px; 
}
.button {
    background-color: black;
    color: white;
    padding: 16px;
    margin: -67px 0px 0px 730px ;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.box {
    position: relative;
    display: inline-block;
}
.list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px black;
    border-radius: 4px;
}
.list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.list a:hover {
    background-color: #ddd;}
  
.box:hover .list {
    display: block;}
  
.box:hover .button {
    background-color: #833AE0;}

.login{
    display: none;
}
.login2{
    width: 100px;
    height: 60px;
    margin: -75px 0px 0px 870px ;
    border-radius: 4px;
    background-color: white;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.currency-converter{
    position: absolute;
    margin-top: 50px;
    margin-left: 150px;
}
body h1{
    margin: 110px 0px -5px 150px;
    width: 800px;
    font-size: 60px;
}
.currency-form{
    width: 190px;
    padding: 0px 8px;
    background: white;
}
.currency-converter .currency-form input{
    width: 600px;
    outline: none;
    font-weight: 500px;
    font-size: 40px;
}
.txt{
    color:black;
    font-size: 28px;
    color: #9F9F9F;
    font-weight: 400px;
    width: 300px;
    margin-bottom: 20px;
}
.btn-group {
    height: 80px;
    width: 600px;
}
.input {
    box-shadow: 0px 5px 10px gray;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    margin-top: 30px;
    width: 600px;
    height: 150px;
    margin-bottom: 85px;
}
input {
    border: none;
}
.btn-group button {
    background-color: white; 
    border: 1px solid #E5E5E5; 
    color: #E5E5E5; 
    width: 150px;
    height: 70px;
    cursor: pointer; 
    float: left; 
    font-size: 30px;
}
.btn-group button:not(:last-child) {
    border-right: none;
}
.btn-group button:hover, button:focus{
   background-color:#833AE0;
}
}